/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Dark mode */
/* Dark mode */
body {
  font-family: 'Inter', sans-serif; /* Inter font */
  background-color: #222;
  color: #fff;
}


.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

header, footer {
  background-color: #333;
  padding: 20px 0;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.navbar li {
  margin: 0 15px;
}

.navbar li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.navbar li a.active {
  color: #007bff; /* Blue color */
}

main {
  padding: 20px 0;
}

section {
  margin-bottom: 30px;
}

h2 {
  color: #fff;
}

.textbox {
  background-color: #333;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
}

.textbox p {
  margin-bottom: 10px;
}

/* Glow effect */
.glow {
  box-shadow: 0 0 20px #777; /* Gray glow effect */
}

.typing-animation h2 {
  overflow: hidden; /* Hide overflowing text */
  border-right: .15em solid white; /* Cursor effect */
  white-space: nowrap; /* Keep text in a single line */
  margin: 0 auto; /* Center text horizontally */
  animation: typing 3s steps(40, end), blink-caret .75s step-end infinite;
}

/* Typing animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 45%;
  }
}

/* Blinking cursor animation */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

/* Deleting animation */
@keyframes deleting {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}


